RewriteEngine   on
RewriteBase /

#RewriteRule ^community/(.*)/(.*)$ index.php?&controller=community&communityName=$1&page=$2 [QSA,L]
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]